{
  "default_worker_pool_machine_type": "gx3.16x80.l4",
  "default_worker_pool_workers_per_zone": 2,
  "default_worker_pool_operating_system": "RHEL_9_64",
  "default_gpu_worker_pool_storage" : "300gb.5iops-tier"
}
